<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/Maximus-s-s/testpublic</url>
        <credentialsId>7f39df09-b669-4480-be47-a2f0d9f69534</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>false</noTags>
        <reference></reference>
        <timeout>30</timeout>
        <depth>0</depth>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.cloudbees.jenkins.GitHubSetCommitStatusBuilder plugin="github@1.29.4">
      <statusMessage>
        <content></content>
      </statusMessage>
      <contextSource class="org.jenkinsci.plugins.github.status.sources.DefaultCommitContextSource"/>
    </com.cloudbees.jenkins.GitHubSetCommitStatusBuilder>
  </builders>
  <publishers>
    <hudson.plugins.testng.Publisher plugin="testng-plugin@1.15">
      <reportFilenamePattern>**/testng-results.xml</reportFilenamePattern>
      <escapeTestDescp>true</escapeTestDescp>
      <escapeExceptionMsg>true</escapeExceptionMsg>
      <failureOnFailedTestConfig>false</failureOnFailedTestConfig>
      <showFailedBuilds>false</showFailedBuilds>
      <unstableSkips>100</unstableSkips>
      <unstableFails>0</unstableFails>
      <failedSkips>100</failedSkips>
      <failedFails>100</failedFails>
      <thresholdMode>2</thresholdMode>
    </hudson.plugins.testng.Publisher>
  </publishers>
  <buildWrappers/>
</project>